body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  display: grid;
  grid-template-rows: 1fr 5fr;
  height: 510px;
  background-color: #FED200;
    h1 {
      font-family: 'Playfair Display', serif;
      font-size: 112px;
      color: #FFFFFF;
    }
}

.topsection_header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 20px 30px;
}
.bottomsection_header {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.main_navbar {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 40px;

  li {
    a {
      font-family: 'Montserrat', sans-serif;
      color: #FFFFFF;
      text-decoration: none;
      font-size: 14px;
      font-weight: 700;
      position: relative;
      padding-bottom: 4px;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  a[aria-current="page"] {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: #FFFFFF;
    }
  }

}

.hvana_logo {
    a {
      font-family: 'Montserrat', sans-serif;
      font-size: 32px;
      color: #FFFFFF;
      text-decoration: none;
      display: flex;
      justify-content: center;
    }
}

.sm_navbar {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
  justify-content: flex-end;
    li a {
      font-family: 'Montserrat', sans-serif;
      color: #FFFFFF;
      text-decoration: none;
      font-size: 14px;
  }
    i {
      font-size: 24px;
      transition: 0.2s;
    }
    i:hover{
      color: #46494a;
    }
}

.recent {
  padding: 60px 80px;
    h2 {
      font-family: 'Montserrat', sans-serif;
      font-size: 32px;
      margin-bottom: 40px;
    }
}


.podcast-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}

.podcast-item {
    img {
      width: 100%;
      border-radius: 8px;
    }
    h3 {
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      margin-top: 10px;
    }
}